*.idea
*.iml

*.class
*.log

# sbt specific
.cache/
.history/
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet
profit/simple_building_blocks/minimal-*
profit/simple_building_blocks/lucky*-pool-*
profit/simple_building_blocks/main*-pool-*